html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; 
  margin-top: 70px; 
}

nav {
  background: #340b49;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}


/* Footer */
.footer {
  background: #713aae;
  color: white;
  text-align: center;
  padding: 20px 00;

}


.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section {
  margin-bottom: 20px;
}

.footer-section h3 {
  margin-bottom: 10px;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #444;
  padding-top: 10px;
}

.btnAgregar{
  background-color: #8b3edd;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
}
.btnAgregar:hover {
  background-color: #a956f7;
}
.btnNotificacion{
  background-color: #8b3edd;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 8px 20px;
}

.btnNotificacion:hover {
  background-color: #8b3edd;
}

.content-card {
    margin: 10px;
}

#carrito {
  max-width: 350px;  
  margin: 40px auto;
}

.carrito-container {
  background: white;
  padding: 20px;
  border-radius: 15px;
  width: 300px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  border: 2px solid #a956f7;
}

.carrito-container h4 {
  text-align: center;
  color: #8b3edd;
  margin-bottom: 15px;
}

#lista-carrito {
  list-style: none;
  padding: 0;
  margin: 0 0 15px 0;
  max-height: 200px;
  overflow-y: auto;
}

#lista-carrito li {
  background: #f5edff;
  margin-bottom: 8px;
  padding: 8px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

#carritoVacio {
  text-align: center;
  color: #999;
  background: none;
}

#lista-carrito button {
  background: #8b3edd;
  color: white;
  border: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.total {
  display: block;
  text-align: center;
  font-size: 16px;
  margin-bottom: 10px;
  color: #333;
}

#total {
  color: #8b3edd;
}

#btn-vaciar {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(45deg, #8b3edd, #a956f7);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

#btn-vaciar:hover {
  transform: scale(1.05);
  opacity: 0.9;
}